<div class="mt-5">
    <h3 class="text-center">Visualizar carros cadastrados</h3>    

    <div class="mt-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Marca</th>                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carro of carros; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ carro.nome }}</td>
                    <td>{{ carro.marca }}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>